body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:linear-gradient(rgba(237, 182, 233,0.5),rgba(224, 117, 151,0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display:grid;
    scroll-behavior: unset;
}

.container {
    top: -25%;
    background:linear-gradient(rgb(221, 169, 169),rgb(221, 185, 150));
    box-shadow: 0px 15px 50px rgba(103, 54, 69, 0.5);
    border-radius: 8px;
    padding:50px;
    width: 15vw;
    margin: auto;
    position: relative;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.form-wrapper {
    text-align: center;
}

h1 {
    margin-top: 0;
    color: white;
    font-size: 45px;
    border-bottom: 0.5px solid white;
}


form {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

form.active {
    display: block;
    opacity: 1;
}



input {
    background-color: #ffffff72;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f7f7f700;
    border-radius: 5px;
}
input:focus {
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff;
    background-color: #fff;
}
input:hover{
    border: 1px solid #f7f7f7;
}
button {
    margin-top: 15px;
    width: 25%;
    margin:auto;
    padding: 10px;
    background-color: #7a207f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #641d6a;
    width: 40%;
    letter-spacing: 10px;
    transition: ease-in-out 0.3s;
}

.toggleForm:hover {
    text-decoration: underline;
    transition: ease-in-out;
}
.toggleForm {
    font-size: 12px;
    
    color: #383838;
    cursor: pointer;
}
